{% extends 'layout.html' %}
{% block content %}

	<h3>Search Results for "{{ search_term }}". <a href="{{ url_for("search") }}">Back to search</a></h3>
	{% for track in search_results.items %}
		<div class="card mt-2">
			<div class="card-body">
				<div class="row">
					<div class="col-sm-2">
						<p>{{ track.artist }}</p>
					</div>
					<div class="col-sm-3">
						<p><a href="{{ url_for('track', track_id=track.id) }}" class="mb-2">{{ track.title }}</a></p>
					</div>
					<div class="col-sm-3">
						<p>{{ track.album }}</p>
					</div>
					<div class="col-sm-1">
						<p>{{ track.year }}</p>
					</div>
					<div class="col-sm-1">
						<p>{{ track.tempo }}</p>
					</div>
					<div class="col-sm-1">
						<p>{{ track.key }}</p>
					</div>
					<div class="col-sm-1">
						<p>{{ track.energy }}</p>
					</div>
				</div>
			</div>
		</div>
	{% endfor %}
	{% for page_num in search_results.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %} <!-- right_current includes the current page -->
		{% if page_num %}
			{% if search_results.page==page_num %}
				<a class="btn btn-info mt-4" href="{{ url_for('searchresults', search_term=search_term, page=page_num) }}">{{ page_num }}</a>
			{% else %}
				<a class="btn btn-outline-info mt-4" href="{{ url_for('searchresults', search_term=search_term, page=page_num) }}">{{ page_num }}</a>
			{% endif %}
		{% else %}
			<a class="btn btn-outline-default mt-4">...</a>
		{% endif %}
	{% endfor %}
{% endblock content %}
